* {
    color: #000;
}

body {
    background-color: #fff;
    background-image: url('background.png'), url('background.png');
    background-repeat: repeat-y;
    background-position: -60px, calc(100vw - 100px);
    background-size: 150px;

}

#counter {
    filter: invert(1);
}

#title {
    border: solid 7px #000;
}

a {
    color: deeppink;
}

#kohkoku-information {
    color: #000;
}
