* {
    color: #eee;
    font-family: "MS Gothic", serif;

}

body {
    background-color: #000;
    background-image: url('background.png'), url('background.png');
    background-repeat: repeat-y;
    background-position: -60px, calc(100vw - 100px);
    background-size: 150px;
}

header, .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: red;
}

table {
    border: solid 1px #fff;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: solid 1px #fff;
    padding: 10px;
}

.blink {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#kohkoku {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: small;
    background: rgba(60, 60, 60, 0.5);
    left: 0;

    min-height: 100px;
}

#kohkoku .button {
    color: #ffffff;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 2px #999;
    padding: 5px;
    border-radius: 5px;

    margin: 10px;

    position: absolute;
    right: 0;

    min-width: 10px;
    min-height: 10px;
}

#kohkoku .button > a {
    display: inline-block;
    font-size: 1px;
    vertical-align: middle;

    color: #fff;
    text-decoration: none;

    transform: rotate(-45deg);

    filter: brightness(0) invert(1);

    user-select: none;
    -webkit-user-drag: none;
}

#kohkoku .button:hover {
    filter: drop-shadow(0 0 1px #fff);
}

#kohkoku div {
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;

    min-width: 70vw;
    min-height: 80px;
}

#kohkoku-information {
    display: block;
    vertical-align: middle;
    font-size: 12px;

    margin: 5px;

    color: #C0C0C0;

    font-family: "Meiryo", serif;
}
